.content {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1em;
  
    
    &__table {
      width: 100%;
      font-weight: 400;
      
      &__header {
        display: table-header-group;
        background-color: #1A2E4F;
        color: rgba(var(--white));
        width: 100%;
        height: 3em;
        text-align: center;
        
        th {
          display: table-cell;
          vertical-align: middle;
          align-items: center;
          padding: 10px;
          
          div{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
          }
          span{
            position: absolute;
            margin: -0.1em 0 0 0.2em;
          }
        }
  
        th:first-child {
          border-radius: 1em 0 0 0;
        }
        th:last-child {
          border-radius: 0 1em 0 0;
        }
      }
  
      
      &__body{
        font-size: .875em;
        &
        &_click{
          background: none;
          border: none;
          cursor: pointer;
        }
        tr {

          display: table-row;
          box-shadow: inset 1px 0 0 0 rgba(var(--light-gray)),   // Borda à esquerda
          inset -1px 0 0 0 rgba(var(--light-gray)),  // Borda à direita
          inset 0 -1px 0 0 rgba(var(--light-gray));  // Borda inferior
          padding: 1px; 

          td {
            width: 1em;
            height: 4em;
            display: table-cell;
            vertical-align: middle;
            padding: 10px;

            color: #1A2E4F;
            font-weight: 400;
            //text-align: center;
            img{
              padding: 0.5em;
            }
  
            &_container_buttons{
              width: 100%;
        
              display: flex;
              justify-content: center;
              align-items: center;
              
              
        
              gap: 1em;
            }
            &_container_buttons:first-child{
              padding: 10px 15px;
              position: initial;
              transform: translate(0);
              width: auto;  
              background: none;
            }
            
  
          }
          
        }
        // Estilização para as células dentro do último <tr>
        tr:last-child  {
          border-radius: 0 0 1em 1em;

        }
      }
      &__pagination{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #1A2E4F;
        button{
          background-color: #1A2E4F;
          color: rgba(var(--white));
          border: none;
          border-radius: 0.5em;
          padding: 0.5em 1em;
          margin: 0 0.5em;
          font-weight: 500;
          cursor: pointer;
        }
      }
      button {
        
        &:focus {
          cursor: pointer;
        }
        &:last-child{
          display: none;
        }
      }
    }
  }
  

// Seletor para o último tr dentro do tbody (Abordagem 2)

  .no_border{
    border: none;
    background: none;
  }
  
  .contentBigger {
    display: inline;
  }
  
  .contentSmall {
    display: none;
  }
  
  @media all and (min-width: 768px) {
    .content {
  
      button {
  
        &:focus {
          cursor: pointer;
        }
        &:last-child{
          display: inline;
        }
      }
    }
  }
  
  @media all and (max-width: 460px) {
    .content {
      &__table {
  
        
        &__buttonTabela{
          display: flex;
          width: 95%;
        }
        &__button {
          display: flex;
          border: 1px solid;
          align-items: center;
          background-color: #1A2E4F;
          color: rgba(var(--white));
          font-weight: 500;
          border-radius: 8px;
          padding: 0.5em 1em 0.5em 1em;
          margin-left: auto;
          width: 7em;
          
          
  
          h1 {
            margin-right: 10px;
          }
          &_img{
            padding: 0.4em 0.7em 0.4em 6.3em;
            margin: -0.4em -0.7em -0.4em -6.3em;
          }
        }
  
        &__body {
          display: flex;
          flex-direction: column;
  
  
  
          tr {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            padding: 1em;
            justify-content: center;
            align-items: start;
            height: 18em;
            margin-top: 1em;
            border-radius: 1em;
  
          }
  
          td {
            text-align: left;
  
  
          }
  
          td:before {
            content: attr(data-label);
            display: block;
            text-transform: uppercase;
            font-weight: bold;
            text-align: left;
            margin-bottom: 1em;
  
          }
        }
      }
    }
  
    .contentBigger {
      display: none;
    }
  
    .contentSmall {
      display: inline;
    }
  }
