.card{
  width: 12.5em;
  height: 12.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
  padding: 1em;
  margin: 1em;

  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 1em;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  &:hover{
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
  }
  &_link{
    width: 95%;
    text-decoration: none;
    padding: 2.1em 1.5em 2.1em 1.5em;
    margin: -2.1em -1.5em -2.1em -1.5em;
  }
  &__img{
    width: 65px;
    height: 65px;
    margin: 0em 0em 1em 0em;
  }
  h1{
    font-size: 1em;
    font-weight: bold;
    color: #1A2E4F;
  }
}

@media only screen and (max-width: 700px) {
  .card{
  width: 12.5em;
  height: 12.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
  padding: 1em;

  background-color: #fff;

  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 1em;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    &_link{
      padding: 1.8em 1.5em 1.8em 1.5em;
      margin: -1.8em -1.5em -1.8em -1.5em;
    }
  }
}