.container{
  width: 80%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  color: black;
  margin: 0 0 2em 0;

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0em 0em 2em 0em;
    font-size: 1em;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal; 
        gap: 1em;
    
    &_title{
      color: rgba(var(--white));
      font-size: 1.5em;
      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal; 
      margin:  0.5em 1em 1em 0;
    }

    &_button{
      width: 5em;
      display: flex;
      align-items: center;
  
      gap: 0.5em;
      padding: 0.8em 1em;
  
      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;       
      color: rgba(var(--white));
      font-size: 1em;
      background-color: rgba(var(--orange));
      border: none;
      border-radius: 0.8em;
    }
  }
  
  &__ContainerForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2em 0em 2em;
    padding: 0 0 2em 0;
    border: 2px solid rgba(0,0,0, 0.10);
    border-radius: 1em;
    background-color: rgba(var(--shape));
    box-shadow: 0.4em 0.4em 0.6em 0 rgb(18, 13, 19); /* Sombra inferior e lateral direita */

    &_form{
      width: 90%;
      display: flex;
      flex-direction: column;
      
      margin: 2em 1em 1em 0em;
      font-size: 1em;
      &_input {
         width: 100%;
          padding: 0.5em;
          margin: 0.1em 0 1em 0; // margin: 0.1em 0 1em 0;
          border: none;
          border-radius: 5px;
          font-size: 1em;
          font-weight: normal;
          box-sizing: border-box;
          background-color: rgba(var(--input-form));
  
  
      }

      &_halfContainer{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        row-gap: 1em;
        column-gap: 2em;
        &_input{
          width: 100%;
          margin: 0.5em 0 1em 0em;
          padding: 0.5em;

          border: 1px solid #A7A7A7;
          border-radius: 5px;
          font-size: 1em;


        } 
       
      }
     
    }

    
  }
}

@media all and (min-width: 459px) and (max-width: 600px) {
  .container{
    &__profile{
        display: flex;
        align-items: center;
        flex-direction: row;
      }
    
    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;

      &_containerButton{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: -1em;

        &_button{
          &_text{

          }
          &_shorttext{
            display: none;
          }
 
        }
      
      }
    }
    &__ContainerForm {
      flex-direction: column;
      &_form {
        &_textarea{
          display: flex;
          width: 100%;
        }
        &_halfContainer {
          grid-template-columns: 1fr 1fr;
          &_input{
            display: flex;
            flex: 1;
          }

        }

        &_threePartsContainer {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

}

@media all and (max-width: 460px) {
  .container{
    &__profile{
        display: flex;
        align-items: center;
        flex-direction: row;

        &_img{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          img{
            border-radius: 5em;
            margin: 0 1em 0 0;
          }
          h1{
            font-size: 1.5em;
            font-weight: bold;
          
          }
        }

        &_button{
          display: flex;
          align-items: center;
          gap: 0.5em;
          padding: 0.8em 0.8em;
          font-weight: bold;
          color: #68655C;
          font-size: 1em;
          background-color: #fff;
          border: #050504 1px solid;
          border-radius: 0.8em;
        }
      }
    
    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;

      &_containerButton{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: -1em;
      
      }
    }
    &__ContainerForm {
      flex-direction: column;
      &_form {
        &_textarea{
          display: flex;
          width: 100%;
        }
        &_halfContainer {
          grid-template-columns: 1fr;
          &_input{
            display: flex;
            flex: 1;
          }

        }

        &_threePartsContainer {
          grid-template-columns: 1fr;
        }
      }
    }
  }

}

