.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin:4em 0em 1em 0em;

  &__container {
    display: flex;
    justify-content: right;
    align-items: normal;
    width: 100%;
    font-size: 1em;

    &_botoes {
      display: flex;
      align-content: center;
      font-size: 1em;
      gap: 3em;
      img {
        width: 2em;
        height: 2em;
      }
      button {
        width: 10em;
        height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-left: -2em;
        border: none;
        gap: 0.47em;

        color: rgba(var(--white));
        font-size: 1em;
        background-color: rgba(var(--blue));
        border-radius: 0.8em;

        &:hover {
          transition: all 0.3s;

          box-shadow: 0.2em 0.2em 0.3em 0 rgba(var(--blue), 0.5); /* Sombra inferior e lateral direita */
        }
      }
    }

    &_link {
      color: rgba(var(--gray));

      text-decoration: none;
      padding: 1.5em 3.5em 1.5em 1.3em;
      margin: -1.5em -3.5em -1.5em -1.3em;
    }
  }
  &__title {
    margin: 1em 1em 0em 1em;
    font-size: 2em;

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #1a2e4f;
  }
  &__title_guia {
    display: flex;
    align-items: center;
    gap: 0.3em;

    h1 {
      font-size: 1em;
      font-weight: bold;
      color: rgba(var(--gray));
    }

    span {
      color: rgba(var(--blue));
    }
  }
  &__navegacao {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1em;
    margin: 0em 0em 0em 0em;

    h1 {
      font-size: 1em;
      font-weight: bold;
    }

    &_voltar {
      display: flex; // Mostra o botão voltar em telas maiores
      align-items: center;
      font-size: 1em;

      color: rgba(var(--blue));

      cursor: pointer;

      h1 {
        border-bottom: 0.1em solid rgba(var(--blue));
        padding-bottom: 0.2em;
      }
    }

    &_guia {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; // Reajusta o conteúdo do título para espaçamento entre itens
      font-size: 1em;
      font-weight: bold;
      gap: 0.3em;

      h1 {
        color: rgba(var(--blue));
        border-bottom: 0.1em solid rgba(var(--blue));
        padding-bottom: 0.2em;
      }

      span {
        color: rgba(var(--gray));
      }
    }
  }
}
