.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  width: 400px;
  height: 400px;
  position: relative;
  animation: slideIn 0.3s ease-out;
}

.backgroundIconContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.backgroundIcon {
  width: 250px;
  height: 250px;
  opacity: 0.08;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #6b7280;
}

.closeButton:hover {
  color: #111827;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
  margin: 1rem 0 0.5rem 0;
  text-align: center;
}

.modalContent {
  font-size: 1rem;
  color: #374151;
  line-height: 1.6;
  text-align: justify;
  margin: 4rem 0 0 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
