@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

@layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  } 
  
  .leaflet-popup-content{
    padding: 0px;
    margin: 0px;
  }
  
  .fixed-label {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .treeselect-container {
    position: absolute;
    top: 72px;
    z-index: 10;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 8px;
  }
  
  .treeselect-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    cursor: pointer;
  }
  
  .treeselect-close-btn {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
  }



/* Popup container */
.my-swal-popup {
  background-color: #FFFFFF;           /* ou theme.palette.background.default */
  border-radius: 8px;                 /* theme.shape.borderRadius */
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Título */
.my-swal-title {
  font-size: 24px;                    /* theme.typography.h6.fontSize (ex.) */
  line-height: 32px;
  font-weight: 600;                   /* SemiBold */
  color: #2C3438;                     /* theme.palette.grey[700], p.ex. */
  text-align: center;
  margin-bottom: 12px;
}


