.main{
    background-image: url('/assets/logo.svg');
    background-size: 50% ;
    background-position: center;
    background-repeat: no-repeat;

}

.construcao{
    background-image: url('/assets/emConstrução.png');
    background-size: 50% ;
    background-position: center;
    background-repeat: no-repeat;

}