.footer{
  width: 100%;
  height: 5em;

  display: flex;
  align-items: center;
  justify-content: space-around;

  
  flex-wrap: wrap;
  gap: 1em;

  background-color: #1A2E4F;

  margin-top: 0;
  margin-bottom: 0;
  
  &__logo_sementes{
    align-items: center;
  }
  
  &__social{
    gap: 1em;
    display: flex;
  }

  @media screen and (max-width: 700px) {
    height: 10em;
  
  
    &__logo_sementes{
      padding-top: 1em;
      align-items: center;
    }
  
    &__social{
      gap: 1em;
      display: flex;
      padding-bottom: 1em;
    }
  }
}
