.login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  width: 100%;
  max-width: 550px; // Definindo largura máxima
  height: auto; // Ajustando a altura automaticamente
  
  .login__content {
    width: 100%; // Usar toda a largura disponível
    text-align: left;

    ul {
      text-align: justify;
    }

    li {
      padding: 0.2em;
    }

    &_title {
      padding: 2em 0em 1em 0em;
      font-size: 1.5em;
      font-weight: bold;
      color: black;
    }

    &_subtitle {
      padding: 0.5em 0em 1em 0.5em;
      text-align: justify;
      font-size: 1.1em;
    }

    &_link {
      width: 95%;
      text-decoration: none;
      color: #1A2E4F;
      font-size: larger;
      padding: 2.1em 1.5em;
      margin: -2.1em -1.5em;
    }

    &_button {
      width: 15em;
      height: 3em;
      border: none;
      margin: 3em 0em 1.5em 0;

      color: #fff;
      background: linear-gradient(to right, #162e55, #1A2E4F);
      border-radius: 0.5em;

      &:hover {
        box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .login__login {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin: 3em;
    width: 100%; // Usar a largura total do contêiner
    max-width: 550px; // Definindo a largura máxima como 550px
    max-height: 539px; // Definindo a altura máxima
    height: auto; // Ajustando a altura automaticamente
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset;

    &_title {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      padding: 1.8em 2.5em 1.2em 2.5em;
    }

    &_label {
      width: 100%;
      margin: 1em 0;

      p {
        margin: 0 1.5em 0.5em 3.5%;
        font-size: 0.9em;
        font-weight: 500;
      }

      input {
        width: 90%;
        height: 3em;
        margin: 0 1.5em 0.5em 3.5%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0.5em;
        padding: 0 0.5em;

        &:focus {
          outline: none;
        }
      }
    }

    &_errorLogin {
      color: red;
    }

    &_subtitle {
      text-align: right;
      font-size: 0.8em;
      font-weight: bold;
      margin: 1em 1.5em 2em 0em;
      text-decoration: underline;  // Adiciona o sublinhado para "Esqueceu a senha?"
      color: var(--navy-blue);  // Define a cor cinza para "Esqueceu a senha?"
    }

    &_button {
      width: 92%;
      height: 3em;
      border: none;
      margin: 0.5em 1em 1.5em 3.5%;
      font-weight: bold;
      color: #fff;
      background-color: #1A2E4F;
      border-radius: 0.5em;

      &:hover {
        box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);
      }
    }

    &_subtitle1 {
      text-align: center;
      font-size: 0.8em;
      font-weight: normal;
      margin: 0 1.5em 2em 0;

      span {
        color: #1A2E4F;
        font-weight: bold;
      }
      a {
        text-decoration: none;  // Remove o sublinhado do link "Crie Agora"
      }
    }
  }
}

.senhaErrada {
  margin-left: 1.3em;
  margin-top: -1em;
}

@media only screen and (max-width: 700px) {
  .login {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    margin-top: -2em;

    .login__content {
      width: 100%;
      margin: 0 10%;
      text-align: center;
    }

    .login__login {
      width: 100%;
      margin: 0 10%;

      &_button {
        margin: 0 10%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .login {
    padding: 0 0.5em;

    .login__content {
      width: 100%;
      padding: 1em;
    }

    .login__login {
      &_title {
        font-size: 1.2em;
      }

      &_button {
        width: 100%;
      }
    }
  }
}
