.login {
  display: flex;
  align-items: center;
  justify-content: center;

  .login__content {
    width: 34em;
    text-align: left;
    ul {
      text-align: justify;
    }
    
    li {
      padding: 0.2em;
    }
    &_title {
      padding: 2em 0em 1em 0em;
      font-size: 1.5em;
      font-weight: bold;
      color: #245501;
    }

    &_subtitle {
      padding: 0.5em 0em 1em 0.5em;
      text-align: justify;
      font-size: 1.1em;
    }
    &_link{
      width: 95%;
      text-decoration: none;
      color: #fff;
      font-size: larger;
      padding: 2.1em 1.5em 2.1em 1.5em;
      margin: -2.1em -1.5em -2.1em -1.5em;
    }
    &_button {
      width: 15em;
      height: 6em;
      border: none;
      margin: 10em 0em 1.5em 3em;

      color: #fff;
      background: linear-gradient(to right, #245501, #4A8223);
      border-radius: 0.5em;

      &:hover {
        box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .login__login {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;

    margin: 3em 3em 3em 2em;
    width: 30em;
    border-radius: 1em;

    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset;

    &_title {
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      padding: 1.8em 2.5em 1.2em 2.5em;

    }

    &_label {
      width: 100%;
      height: 3em;
      margin: 1em 0em 1em 1em;


      p {
        margin: 0em 1.5em 0.5em 3.5%;
        font-size: 0.9em;
        font-weight: 500;
      }

      input {
        width: 90%;
        height: 3em;
        margin: 0em 1.5em 0.5em 3.5%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0.5em;
        padding: 0 0.5em 0 0.5em;


        &:focus {
          outline: none;
        }
      }
    }

    &_errorLogin {
      color: red;
    }

    &_subtitle {
      text-align: right;
      font-size: 0.8em;
      font-weight: bold;
      margin: 1em 1.5em 2em 0em;
      text-decoration: none;
      color: #245501;
    }

    &_button {
      width: 92%;
      height: 3em;
      border: none;
      margin: 0.5em 1em 1.5em 3.5%;

      color: #fff;
      background-color: #245501;
      border-radius: 0.5em;

      &:hover {
        box-shadow: -3.5px 3.5px 8px rgba(0, 0, 0, 0.2);
      }

    }

    &_subtitle1 {
      text-align: center;
      font-size: 0.8em;
      font-weight: normal;
      margin: 0em 1.5em 2em 0em;

      span {
        color: #245501;
        font-weight: bold;
      }
    }


  }
}

.senhaErrada {
  margin-left: 1.3em;
  margin-top: -1em;
}

@media only screen and (max-width: 700px) {
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 1em;
    margin-top: -2em;

    .login__content {
      width: 100%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: -2em;

    }

    .login__login {
      width: 100%;
      margin-left: 10%;
      margin-right: 10%;

      &_button {
        margin-right: 10%;
      }
    }

  }
}